    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
  <link rel="stylesheet" href="{% static "googleclone/styles.css"%}">
        <title>Document</title>
    </head>
    <body>
        
    <div class="top-toolbar">
    <nav>
    <a href="#">+You</a>
    <a href="#">Gmail</a>
    <a href="#">Images</a>
    <img src="https://dl.dropboxusercontent.com/u/25441638/1.5-google-clone/images/grid.png" />
    <a href="#"><button class="signin">Sign In</button></a>
    </nav>
    </div>
    <div class="search">
    <div class="logo">
    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" />
    </div>
    <form method="POST" action="search">
    {% csrf_token %}
    <input class="search-bar" type="text" name="search" autofocus x-webkit-speech/>
    <div class="search-nav">
    <div class="search-button">
    <a href="#"><button type="submit">Google Search</button></a>
    </form>
    <a href="#"><button>I'm Feeling Lucky</button></a>
    </div>
    </div>
    </div>

    {% if final_result %}
    <b style="padding-left: 50px; padding-right: 50px; color: #646464;">Web Results</b>
    {% for result in final_result %}
    <div style="padding-left: 50px; padding-right: 50px;">
        <h3 style="color: blue;"><a href="{{ result.1 }}">{{ result.0 }}</a></h3>
        <h3 style="color: green;">{{ result.1 }}</h3>
        <h3>{{ result.2 }}</h3>
    </div><br><br>
    {% endfor %}
    {% endif %}

    <div class="footer">
    <footer class="bottom-toolbar">
    <nav class="footer-left">
    <a href="#">Advertising</a>
    <a href="#">Business</a>
    <a href="#">About</a>
    </nav>
    <nav class="footer-right">
    <a href="#">New Privacy &amp; Terms</a>
    <a href="#">Settings</a>
    </nav>
    </footer>
    </div>
    </body>
    </html>
    